doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style
    include main.css
  title Document
h1 guestbook
a(href='/leave-a-note') Leave a note
a(href='/read-notes-left-by-others') Read notes by others